/* CSS untuk body halaman */
body{
    font-family: Outfit;
    background-color: rgb(247, 247, 105);
    margin: 0;
    padding: 0;
}
#b2t {
    position: fixed;
    bottom: 45px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #00AFB9;
    color: #FDFCDC;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    opacity: 80%;
  }
  #b2t:hover {
    background-color: #0081A7;
  }
h1, h2, h3, h4, h5, h6{
    color: #F07167;
}
h2:hover{
    color: #00AFB9;
}
hr{
    height: 2px;
    background-color: #00AFB9;
    border: none;
    margin-block-start: 25px;
}

/* CSS untuk mengatur desain responsif */
@media only screen and (max-width: 600px){
    nav{
        flex-direction: column;
    }
    nav section{
        width: 100%;
        flex-direction: column;
        text-align: center;
        flex-wrap: wrap;
    }
    .logo-area{
        margin-bottom: 10px;
    }
    .list-kursus{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .form-and-result{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .result-container{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .footer{
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* CSS untuk bagian Navigasi */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px 10px 25px;
    background-color: #787675;
}
nav section{
    display: flex;
}
.logo-area{
    align-content: center;
}
.logo-icon{
    height: 50px;
    width: 50px;
}
.nav-item{
    color: #ffffff;
    /* color: #00AFB9;
    color: #FDFCDC;
    color: #FED9B7;
    color: #F07167; */
    margin: 2px;
    padding: 15px;
    border: 2px solid #F07167;
    border-radius: 15px;
    text-decoration: none;

}
.nav-item:hover{
    background-color: rgb(89, 243, 243);
    -webkit-text-stroke: large;
}

/* CSS untuk bagian konten utama */
.main-sctn{
    margin: 25px;
}
.kenalan{
    background-color: #00AFB9;
    border-radius: 10px;
    color: white;
    padding:1px 15px 1px 15px;
    width: fit-content;
}
.sapanama{
    color: #0081A7;
}
.tombol-ubahnama{
    border-radius: 25px;
    background-color: #00AFB9;
    color: #FDFCDC;
    height: 25px;
}
.tombol-ubahnama:hover{
    background-color: #0081A7;
}
.goldstar{
    color: gold;
}
.img-slideshow{
    width: 100%;
    height: 350px;
    object-fit: cover;
    border: 3px solid #00AFB9;
    background-repeat: no-repeat;
}
.img-slide-button{
    text-align: center; 
    padding: 10px;
}
.list-kursus{
    display: flex;
    justify-content: space-around;
}
.item-kursus{
    text-align: center;
    margin: 10px;
    padding: 5px;
}
.img-kursus{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform .2s;
    border: 3px solid #00AFB9;
}
.img-kursus:hover{
    transform: scale(1.2);
    /* border: 3px solid #F07167; */
}
.form-and-result{
    display: flex;
}
label{
    padding-right: 10px;
}
.tombol-form{
    height: 40px;
    background-color: #00AFB9;
    color: #FDFCDC;
    border-radius: 25px;
    font-size: large;
    min-width:100%;
}
.tombol-form:hover{
    background-color: #0081A7;
}
.result-container{
    width: 100%;
}
.tampilkan-result{
    margin-left: 20px;
    padding-left: 10px;
}
mark {
    background-color: red;
    color: #FDFCDC;
  }

/* CSS untuk bagian copyright & credit */
.footer{
    display: flex;
    background-color: #787675;
    justify-content: space-between;
}
.credit{
    display: flex;
    padding: 5px;
    justify-content: center;
}
.creator{
    display: flex;
    padding: 5px;
    justify-content: center;
    color: #ffffff;
}